spring:
  application:
    name: ms-transaction-api
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true

jwt:
  issuer: SW_ISSUER
  sign-key: ${JWT_SIGN_KEY}
  access-token-validity-minutes: ${JWT_ACCESS_TOKEN_MINUTE:10}
  refresh-token-validity-minutes: ${JWT_REFRESH_TOKEN_MINUTE:120}
