spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    url: jdbc:mariadb://localhost:3306/becajava
    username: becajava
    password: becajava
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  flyway:
    enabled: false
server:
  port: 8083
