spring:
  application:
    name: ms-user
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-description: "init"
    baseline-version: 0
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    table: flyway_schema_history_ms1

jwt:
  issuer: SW_ISSUER
  sign-key: ${JWT_SIGN_KEY}
  access-token-validity-minutes: ${JWT_ACCESS_TOKEN_MINUTE:10}
  refresh-token-validity-minutes: ${JWT_REFRESH_TOKEN_MINUTE:120}

